*{
	padding: 0px;
	margin: 0px;
}

body{
	padding-top: 45px;
	background-image: url(wallpaper.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	opacity:0,4;
	font-family: 'Philosopher', sans-serif;
	padding-bottom: 85px;
	background-attachment: fixed; 
}

.col-md-5{
	border: 2px solid #F6F6F6;
	border-radius: 5px;
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 30px;
	color: #F6F6F6;
	background-color: rgba(255,255,255,0.2);
}
 .col-md-3{
 	padding: 0px;
	border: 2px solid #F6F6F6;
	border-radius: 5px;
	color: #F6F6F6;
	background-color: rgba(255,255,255,0.2);
	height: 380px;
 }

 .col-md-9{
 	margin-top: 25px;
 	border: 2px solid #F6F6F6;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-right: 15px;
	color: #F6F6F6;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
 }

 .col-md-4{
 	margin-top: 25px;
 	padding: 0px;
	border: 2px solid #F6F6F6;
	border-radius: 5px;
	color: #F6F6F6;
	background-color: rgba(255,255,255,0.2);
	height: 302px;
 }